@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap&subset=cyrillic");

.main-app {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.main-app .main-app-filter-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  padding: 10px;
  border: 3px solid #f3f3f3;
  border-radius: 15px;
  margin-bottom: 10px;
}

.main-app .main-app-query .main-app-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  padding: 20px;
  border: 3px solid #f3f3f3;
  border-radius: 15px;
}

.message-list {
  margin: 20px;
}

.message {
  padding: 6px;
  background-color: #f3f3f3;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

.message-actions {
  font-size: 0.9em;
  display: flex;
  justify-content: space-around;
}

.main-app-pagination {
  margin-top: 10px;
}